{% load static from static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jakub Wasiak Tuzy</title>
	<!-- <link rel="stylesheet" href="/static/style.css"> -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <link rel="stylesheet" href="/static/css/fontello.css"> -->
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
</head>
<body>
	<header class="hed">
		<a href="{% url 'home' %}" class="logo"><span>R</span>eturn to homepage<span>.</span></a>
		<!-- <div class="MenuToggle" onclick="toggleMenu();"></div> -->
<!-- 		<ul class="navigation">
			<li><a href="#stronaglowna" onclick="toggleMenu();"><div class="zoom"><i class="icon-home"></i></div>Strona główna</a></li>
			<li><a href="#omnie" onclick="toggleMenu();"><div class="zoom"><i class="icon-male"></i></div>O mnie</a></li>
			<li><a href="#Menu" onclick="toggleMenu();"><div class="zoom"><i class="icon-camera"></i></div>Galeria</a></li>
			<li><a href="#oferta" onclick="toggleMenu();"><div class="spin"><i class="icon-cog"></i></div>Oferta</a></li>
			<li><a href="#contact" onclick="toggleMenu();"><div class="zoom"><i class="icon-mail-alt"></i></div>Kontakt</a></li>
			<li><a href="#xxx" onclick="toggleMenu();"><div class="spin"><i class="icon-spin3"></i></div>Switch to English</a></li>
		</ul> -->
	</header>
<!-- 	<form class="site-form" action = "{% url 'home' %}" method="post">
		{% csrf_token %}
		<input type="submit"  value="Strona główna">
	</form> -->
	
	<section class="weather">
		<div class="row" id="row_api">
			<div class="col50">
				<form method="POST">{% csrf_token %}
					<p><b>Select league: </b></p>
						<div class="dd">
						<select name="league" class="form-control">
							<option value="Bundesliga">Bundesliga</option>
							<option value="Premier League">Premier League</option>
							<option value="Ederdivise">Ederdivise</option>
							<option value="Primiera Division">Primiera Division</option>
							<option value="Ligue 1">Ligue 1</option>
							<option value="Serie A">Serie A</option>

						</select>
					</p>
					<button type="submit" class="btn" id="btn-weather">Submit</button>
					</div>
				</form>
			</div>
				<div class="col50">
					{% if tabela %}
					<p><b>Choosen league: {{ liga }}</b></p>


					<table class="content-table">
						<tr>
							<td><b>Team</b></td>
							<td class="league_table"><b>Played games</b></td>
							<td class="league_table"><b>Wins</b></td>
							<td class="league_table"><b>Loses</b></td>
							<td class="league_table"><b>Draws</b></td>
							<td class="league_table"><b>Goals scored</b></td>
							<td class="league_table"><b>Goals lost</b></td>
							<td class="league_table"><b>Points</b></td>
						</tr>
						{% for row in tabela %}
						<tr>
							<td>{{row.0}}</td>
							<td class="league_table">{{row.1}}</td>
							<td class="league_table">{{row.2}}</td>
							<td class="league_table">{{row.3}}</td>
							<td class="league_table">{{row.4}}</td>
							<td class="league_table">{{row.5}}</td>
							<td class="league_table">{{row.6}}</td>
							<td class="league_table">{{row.7}}</td>
						</tr>
						{% endfor %}
					{% else %}
						<p><b>Choose the city to see the data!</b></p><br>
					{% endif %}
					   <!-- <tr>
					   		<td>Temperature:</td>
					   		<td>{{ stacja.temperatura }}</td>
					   </tr>
					   <tr>
					   		<td>Wind speed:</td>
					   		<td>{{ stacja.predkosc_wiatru }}</td>
					   </tr>
					   <tr>
					   		<td>Wind direction:</td>
					   		<td>{{ stacja.kierunek_wiatru }}</td>
					   </tr>
					   <tr>
					   		<td>Humidity:</td>
					   		<td>{{ stacja.wilgotnosc_wzgledna }}</td>
					   </tr>
					   <tr>
					   		<td>Amount of atmospheric precipitation:</td>
					   		<td>{{ stacja.suma_opadu }}</td>
					   </tr> -->
					</table>
				</div>
		</div>
	</section>

	<div class="copyrightText">
		<p>2021 <a href='#'>Jakub Wasiak Tuzy</a>. &copy</p>
	</div>
	
	<script type="text/javascript">
		window.addEventListener('scroll', function(){
			const header = document.querySelector('header');
			header.classList.toggle("sticky", window.scrollY > 0);
			});
			
			function toggleMenu(){
			const MenuToggle=document.querySelector('.MenuToggle');
			const navigation = document.querySelector('.navigation');
			MenuToggle.classList.toggle('active');
			navigation.classList.toggle('active');
			}
	</script>

</body>
</html>