{% load static from static %}


<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTf8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Maciej Łazarz - Welcome to my Website!</title>
	<!-- <link rel="stylesheet" href="/static/style.css"> -->
	<link rel="stylesheet" href="{% static 'style.css' %}">
	<!-- <link rel="stylesheet" href="/static/css/fontello.css"> -->
	<link rel="stylesheet" href="{% static 'css/fontello.css' %}">
</head>
<body>
	<header class="hed">
		<a href="{% url 'home' %}" class="logo"><span>R</span>eturn to homepage<span>.</span></a>
	</header>

	
	<section class="Menu" id="xlsxMenu">

		<div class="title" id="xlsxtitle">
			<h2 class="titleText">xlsx<span>to</span>csv<span>.</span></h2>
			<p>I've developed simple tool in Python which will allow you to transform you excel files into flat csv files. Please find the guideline below:
			</br>
			1. Download file from the bottom of the page
			<br>
			2. Insert downloaded file in the folder with excel files you want to convert
		</div>
<!-- 		<div class="content">
			<div class="box">
				<div class="imgBx">
					<img src="{% static '../media/scr1.png'%}" id="xlsximg">
				</div>
			</div>
		</div> -->
		<div class="xlsximg">
			<img src="{% static '../media/scr1.png'%}" id="xlsximg">
		</div>

		<div class="title" id="xlsxtitle">
			<br>
			<p>3. Launch file "xlsx2csv.exe"</p>
		</div>
		<div class="xlsximg">
			<img src="{% static '../media/scr2.png'%}" id="xlsximg">
		</div>
		<div class="title" id="xlsxtitle">
			<br>
			<p>4. Now you can see newly generated files</p>
		</div>
		<div class="xlsximg">
			<img src="{% static '../media/scr3.png'%}" id="xlsximg">
		</div>
		<div class="title" id="xlsxtitle">
			<br>
			<p>5. Content looks as following</p>
		</div>
		<div class="xlsximg">
			<img src="{% static '../media/scr4.png'%}" id="xlsximg">
		</div>




	</section>
	<section class="xlsxoferta">
		<div class="content">
			<a href="{% static '../media/xlsx2csv.exe'%}" style="text-decoration: none">
				<div class="box">
					<div class="text">
						<h3><span>C</span>lick here to download xlsxtocsv converter</h3>
					</div>
				</div>
			</a>
		</div>
	</section>



	<div class="copyrightText">
		<p>2021 <a href='#'>Maciek Łazarz</a>. &copy</p>
	</div>
	
	<script type="text/javascript">
		window.addEventListener('scroll', function(){
			const header = document.querySelector('header');
			header.classList.toggle("sticky", window.scrollY > 0);
			});
			
			function toggleMenu(){
			const MenuToggle=document.querySelector('.MenuToggle');
			const navigation = document.querySelector('.navigation');
			MenuToggle.classList.toggle('active');
			navigation.classList.toggle('active');
			}
	</script>

</body>
</html>